/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Calculator.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Container Styling */
.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

/* Heading Styling */
h1 {
    color: #333;
}

/* Form and Input Styling */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Result Styling */
.result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#clock {
    margin-top: 30px;
  }
  
  #timeDisplay {
    font-size: 2.5em;
    color: #007bff;
    font-weight: bold;
  }
  
  .motivation-note {
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
  }
  
